/*==========================================================
List Card Styles
==========================================================*/
ul.card {
	padding: 0;
	max-width: 400px;
	border: unset;
}
ul.card svg {
	position: relative;
	top: -2px;
}
ul.card li.list-group-item {
	border: 1px solid rgb(255 255 255 / 13%);
	background-color: var(--brand-gray2);
	text-align: center;
	color: var(--brand-gray3);
}
ul.card li.list-group-item:first-child {
	padding: 1.5rem 2.5rem;
}
.list-group-item .header1 {
	text-transform: capitalize;
	margin-bottom: 0.5rem;
}
.list-group-item .header1 + p {
	color: #808080;
}
ul.card li.list-group-item img.main-img {
	width: 90%;
}
ul.card li.list-group-item .icon-group {
	display: flex;
	justify-content: space-between;
	width: 60%;
	margin: 0 auto;
}
ul.card li.list-group-item .icon-group p {
	font-weight: 700;
	font-size: 1.25rem;
	display: flex;
	position: relative;
}
ul.card li.list-group-item .icon-group svg {
	position: relative;
	top: -2px;
	margin-right: 10px;
}
ul.card li.list-group-item.striped {
	display: flex;
	flex-wrap: wrap;
	font-size: 0.9rem;
	justify-content: space-between;
	align-items: center;
	padding: 0.75rem 2.5rem;
	gap: 0.55rem;
}
ul.card li.list-group-item.striped:nth-child(odd) {
	background-color: #444;
}
ul.card li.list-group-item.striped:last-child {
	justify-content: center;
}
ul.card li.list-group-item .btn {
	width: 100%;
	font-size: 0.9rem;
	position: relative;
}
ul.card li.list-group-item.striped a {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 5rem;
}
ul.card li.list-group-item.striped a img {
	width: 60%;
	margin: 0 10px;
	border-radius: 50%;
	background-color: var(--brand-gray2);
	transition: transform 0.2s;
}
ul.card li.list-group-item.striped a:hover img {
	transform: scale(1.0625);
}
ul.card li.list-group-item.striped a:focus {
	outline: unset;
}
ul.card li.list-group-item.striped a:focus img {
	outline: 2px solid #3196fd40;
}
@media only screen and (min-width: 300px) {
	ul.card li.list-group-item.striped:last-child {
		justify-content: space-between;
	}
}
@media only screen and (min-width: 416px) {
	ul.card li.list-group-item.striped {
		flex-wrap: nowrap;
	}
	ul.card li.list-group-item .btn {
		width: 50%;
	}
}
/*==========================================================
 Styles
==========================================================*/
